@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.cdnfonts.com/css/brush-king');

@layer base {
  @font-face {
    font-family: 'Brush King';
    font-style: normal;
    font-weight: 400;
    src: local('Brush King'), url('https://fonts.cdnfonts.com/s/32180/Brush King.woff') format('woff');
  }
  @font-face{
    font-family:roboto;
    font-style:normal;
    font-weight:400;
    src:local('Roboto'),url(https://fonts.cdnfonts.com/s/12165/Roboto-Regular.woff) format('woff')
  }
} */
